/*HEADER SECTION CSS START*/

header {
  border-bottom:solid 1px #d7d7d7;
  position:fixed;
  width:100%;
  background:#fff;
  z-index:99;
}
header .navbar-collapse form .icon{
  background:none;
  border:0;
  position:relative;
  left:-40px;
  color:#d0d0d0
}
header .navbar-brand img{
  width:140px;
  margin-right:10px;
}
header .navbar-collapse form .form-control{
  border: solid 1px #c8c8c8;
}
header .navbar-collapse form select.form-control{
  font-size: 12px;
    height: 38px;
  border-right:0;
  border-bottom-right-radius:0;
  border-top-right-radius:0;
}
header .navbar-collapse form input.form-control{
  border-bottom-left-radius:0;
  border-top-left-radius:0;
  width:179px;
  color: #c8c8c8;
    font-size: 14px;
    height: 38px;
  font-weight:500;
}
header .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 7px;
    padding-left: 7px;
}
header .navbar-collapse ul li a{
  color:#1e2c5c;
  font-size:14px;
  font-weight: 600;
}
header .navbar-collapse ul li a:hover, header .navbar-collapse ul li a:focus{
  color:#e48d07;
  text-decoration:none;
}
header .dropdown-toggle::after {
  margin-left:5px;
  margin-right:5px;
}
header .navbar {
    padding: .5rem 0rem;
}
header .dropdown-toggle::after {
   transition: transform 0.15s linear; 
}

header .show.dropdown .dropdown-toggle::after {
  transform: translateY(3px);
}
header .dropdown-menu {
  margin-top: 0;
  padding:15px;
  box-shadow:0 0 20px #ddd;
  border:solid 1px #e48d07
}

header .dropdown-menu  a{ 
  text-decoration:none;
  padding-bottom:10px!important;
  font-weight:500!important;
}
header .dropdown-menu  a:hover{
  text-decoration:none;
  color:#e48d07!important;
}
header .loginbtn {
  display:inline-block;
  border:solid 1px #e48d07;
      padding: 10px 20px;
    margin-left: 20px;
  border-radius:30px;
  float:right;
  color:#e48d07!important;
}
header .loginbtn:hover {
  border:solid 1px #e48d07;
  color:#fff!important;
  background:#e48d07;
  text-decoration:none;
}

div #verticle-bar{
  position: absolute;
  top: 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
/*HEADER SECTION CSS END*/


.sidenav {
  height: 100%;/* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 2; /* Stay on top */
  top: 11.8%; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* When you mouse over the navigation links, change their color */
.sidenav  a:hover {
  color: grey;
}


/* The navigation menu links */
div.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}


/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

 /*For dropdown menu*/
.dropbtn {
  background-color: white;
  color: #e48d07;
  border-radius:5px;
  padding: 8px 40px;
  font-size: 16px;
  border: solid #e48d07;
  cursor: pointer;
}

.dropbtn:hover{
  
  background-color: #f1f1f1;
  
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 8px;
  box-shadow:0 0 20px #ddd;
  padding: 10px 0;
  display: none;
  position: absolute;
  border: solid #e48d07;
  border-width:1px;
  border-radius:7px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dropdown-content a {
  font-size:16px;
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #e48d07;}
.arrow {         
  border: solid #e48d07;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.show {
  display: block;
}

.button {           /*Previous Year Button*/
  background-color: #DF3F92;
  border-radius: 20px;
  border: 1.5px solid #DF3F92;
  color: white;
  padding: 6px 50px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 45px;
  cursor: pointer;
}

.MockTest{           /*mock test button*/
  background-color: white;
  border: 1.5px solid #DF3F92;
  border-radius: 20px;
  color: #DF3F92;
  padding: 6px 45px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 8px;
  cursor: pointer;
}

.button:hover ,.button:link, .MockTest:hover{
  text-decoration: none;
 border: 1.5px solid #1d2c5d;
  color: #1d2c5d;
  border-radius:20px;
}

/*Boxes*/

.box{
  float: left;
  position: relative;
  height:18em;
  width:13em;
  background-color: white;
  border-radius: 5px;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

.attempt-bar{
  position: absolute;
    bottom:0;
    height:18%;
    width:100%;
    background-color: #1d2c5d;
    border-radius: 4px;
    text-align:center;
    font-size: 16px;
}

.attempt-bar a{
 
  font-size: 18px;
}
.attempt-bar a:link, .attempt-bar a:visited{
  text-decoration: none;
    color:white;
    margin-bottom: 5px;
}

.attempt-bar a:hover{
  color: #F4D03F;
}

.score-btn{
    border: 1.5px solid #DF3F92;
    border-radius: 20px;
    color:black;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 2px 6px;
    cursor: pointer;
}

.score-btn:hover, .score-btn:visited{
  background-color:#F7DC6F;
  text-decoration: none;
}

#boxbutton {
  background-color: white;
  color: black;
  border-radius:5px;
  padding: 4px 10px;
  font-size: 13px;
  border: 1px solid black;
  cursor: pointer;
  margin-left:10px;
}

#boxbutton:hover{
  background-color: #f1f1f1;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dd-content {
  margin-top: 8px;
  box-shadow:0 0 5px #1d2c5d;
  padding: 10px 0;
  display: none;
  position: absolute;
  border: solid #1d2c5d;
  border-width:1px;
  border-radius:7px;
  background-color: white;
  min-width: 160px;
  overflow: auto;
  z-index: 1;
}

.dd-content a {
  font-size:16px;
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {color: #e48d07;}
.Arrow {         
  border: 1px solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.show {
  display: block;
}

.subj-heading{
  color: #4A6A93; 
  padding:5px; 
  margin-bottom:3px; 
  font-size:16px;
}

.test-token{
  font-size:15px; 
  margin:4px 8px;
}

.test-token span{
  font-size:20px; 
  color:#B4B0B2;
}


.wrapper:after{  
  content: "";
  display: block;
  clear: both;
}

#testimonials:after{
  content: "";
  display: block;
  clear: both;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='RGB(199, 21, 133)' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='RGB(199, 21, 133)' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}


/*Main page Css Ends**/


/*FOOTER SECTION CSS START*/
footer{
  margin-top: 10%;
  background:#1d2c5d;
} 
.spacefoot{
  padding:35px 0;
}
.fot h2{
  font-size:16px;
  color:#fff;
  font-weight:bold;
  margin-bottom:20px;
}
.fot ul{
  padding:0;
}
.fot ul li {
  list-style:none;
}
.fot ul li a{
  font-size:14px;
  color:#657dca;
  font-weight:500;
  line-height:26px;
}
.fot ul li a:hover{
  color:#ffbb3e;
  text-decoration:none;
}
.fot_social ul{
  float:right;
  padding-right:70px;
}
.fot_social ul li{
  display:inline-block;
}
.fot_social ul li a{
  background:#faad51;
  color:#1d2c5d;
  width:30px;
  height:30px;
  line-height:32px;
  text-align:center;
  border-radius:5px;
  display:inline-block;
}
.fot_social ul li a i{
  font-size:20px;
}
.subfooter {
  background:#21336d;
  padding:15px;
}
.subfooter ul {
  padding:0;
  margin:0;
}
.subfooter ul li{
  display:inline-block;
  padding-right:20px;
}
.subfooter ul li a{
  color:#fff;
  font-size:13px;
  font-weight:300;
  font-family: 'Arkibal Lt';
}
.subfooter ul li a:hover{
  color:#ffbb3e;
  text-decoration:none;
}
/*FOOTER SECTION CSS END*/



/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media(min-width: 768px){
  #verticle-bar{
    top:0;
    height: 75%;
  }
  .sidenav{
    top: 0;
    height: 75%;
  }
}


@media(max-width: 767px){
  #main-content{
    margin-left: 15%;
  }
  .dropbtn{
    padding: 8px 25px;
    margin: 0;
    display: block;
    margin: 5px 40px;

  }

  .MockTest{
    margin: 0;
    display: block;
    margin: 5px 35px;
  }
  
 .button{
    margin: 0;
    display: block;
    margin: 5px 25px;
 }
 #boxbutton{
    padding: 8px;
 }
 
}